* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#camera,
#camera--view,
#camera--sensor,
#camera--output {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#camera--view,
#camera--sensor,
#camera--output {
  transform: scaleX(-1);
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: center;
  position: fixed;
  bottom: 10px;
}

#camera--change {
  width: 50px;
  cursor:pointer;
  transition: .5s;
}

#camera--change:active {
 filter: brightness(80%);
 transform: scale(0.9);
}
#camera--trigger {
  width: 200px;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(16, 16, 17, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.taken {
  height: 100px !important;
  width: 100px !important;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  top: 20px;
  right: 20px;
  z-index: 2;
}
